<%- include('layout/header') %>
    <div class="container">
        <div class="container mt-5">
            <h2>Edit User
                <%= user.name %>
            </h2>
            <form action="/update/<%= user._id%>" method="post" enctype="multipart/form-data">
                <!-- Name -->
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" value="<%= user.name %>" id="name" name="name" required>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" value="<%= user.email %>" id="email" name="email" required>
                </div>

                <!-- Phone -->
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="tel" class="form-control" id="phone" value="<%= user.phone %>" name="phone" required>
                </div>

                <!-- User Photo Upload -->
                <div class="mb-3">
                    <label for="image" class="form-label">Select Image</label>
                    <input type="file" class="form-control" id="image" name="image">
                    <img src="/<%=user.image %>" width="100" class="img-thumbnail mt-1" />
                    <input type="hidden" name="old_image" value="<%= user.image %>">
                </div>

                <!-- Submit Button -->
                <button type="submit" class="btn btn-primary btn-success btn-lg" value="Upadate  User">Update</button>
            </form>
        </div>
    </div>
    </div>

    <%- include('layout/footer') %>